body {
    background-color: rgba(197, 228, 231, 255);
  }
  
  img {
    border-radius: 4rem;
    padding: 3rem;
    width: 9rem;
    align-items: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  
  .master-card {
    border-radius: 0.9rem;
    padding: 1rem;
    width: 52rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: white;
    
  }
  
  .main-card1 {
      display: block;
      padding: 4rem;
      margin-right: 5rem;
      
  }
  
  .main-card2 {
      padding: 1rem;
      display: block;
      padding: auto;
      border: 1px solid black;
      background-color: rgb(35, 75, 75);  
      border-radius: 2rem;
      margin: 2rem;  
  }

  .outputTip, .outputTotal{
    margin: 1rem;
}

.output{
    display: flex;
    margin: 3rem;
}
  .tip-percent{
    list-style: none;
    display: flex;
}
.tip-percent li{
    margin: 0%;
    padding: 0%;
    align-items: left;
}
.tip-percent li button{
    padding: 0.5rem;
    border-radius: 0.5rem;
   text-decoration-color: black;
}
button:hover {
    background-color: rgb(138, 207, 138);
}
.mainbutton:hover{
    background-color: rgb(138, 207, 138);
}
.mainbutton {
    padding: 1.2rem;
    border-radius: 1rem;
    background-color: rgb(106, 214, 106;
}


  
  
  
  
  
  
  
  
  
  
  
  
  
  